<!DOCTYPE html>
<html lang="en">
{{ template "head.html" . }}

<body>
    <!--wrapper starts-->
    <div id="wrapper">
        {{ template "header.html" . }}
        <div id="postcontainer">
            <div id="post">
                <!--<h1>Lost in the Mind Palace !!</h1>-->
                <h1>{{.ErrorMessage}}</h1>
                <h1>Please go <a href="/">home</a></h1>
                <div id="footer">
                    <!--info--><br class="clear" />
                </div>
                <!--footer-->
                <div id="divider"></div>
            </div>
        </div>
    </div>
    <!--wrapper ends-->
</body>

</html>