<div id="postcontainer">
    <div id="post">
        <h1>Case Files</h1>
        <p>&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;
        </p>
        <p><big><big>{{.CaseTitle}}</big></big></p>
        {{if .IsClosed}}
        <p>Case closed</p>
        {{end}}
        <p>&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;
        </p>
        {{.CaseContent}}
    </div>
    <!--post-->
</div>