<div id="postcontainer">
    <div id="post">
        <h1>Recently Updated</h1>
        <p>&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;
        </p>
        <p><big><big>Analysis of Tobacco Ash</big></big></p>
        <p>DELETED!!</p>
        <p>&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;
        </p>
        <p><a href="hidden-message-2"><big><big>Hidden
                        Message #2</big></big></a></p>
        <p>Solved - Answer revealed</p>
        <p>&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;
        </p>
        <p><a href="https://johnwatsonblog-co-uk.tumblr.com/post/184774800597/the-blind-banker"><big><big>The
                        Blind Banker</big></big></a></p>
        <p>See my colleague, John Watson&rsquo;s <a
                href="https://johnwatsonblog-co-uk.tumblr.com/post/184774800597/the-blind-banker">summary of
                the case</a></p>
        <p>&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;
        </p>
        <p><a href="https://johnwatsonblog-co-uk.tumblr.com/post/184774411692/a-study-in-pink"><big><big>The
                        Serial Suicides</big></big></a></p>
        <p>Never had the time to write up the case notes. See my colleague, John Watson&rsquo;s <a
                href="https://johnwatsonblog-co-uk.tumblr.com/post/184774411692/a-study-in-pink">summary of
                the case</a></p>
        <p>&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;
        </p>
        <p><a href="hidden-message-1"><big><big>Hidden
                        Message #1</big></big></a></p>
        <p>Solved - Answer revealed</p>
        <p>&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;
        </p>
        <p><a href="the-green-ladder"><big><big>The Green
                        Ladder</big></big></a></p>
        <p>Case solved</p>
        <p>&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;
        </p>
        <p><big><big><big>Ongoing</big></big></big></p>
        <p>&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;
        </p>
        <p><big><big>The Aluminium Crutch</big></big></p>
        <p>Notes to be added</p>
        <p><a href="https://johnwatsonblog-co-uk.tumblr.com/post/184775541012/the-aluminium-crutch">See
                John&rsquo;s summary here</a></p>
        <p>&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;
        </p>
        <p><big><big>Analysis of Perfumes</big></big></p>
        <p>Notes to be added</p>
        <p>&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;
        </p>
        <p><a href="hidden-message-3"><big><big>Hidden
                        Message #3</big></big></a></p>
        <p>Unsolved - I need your help</p>
        <p>&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;
        </p>
        <p><big><big>The Great Game</big></big></p>
        <p>Notes to be added</p>
        <p><a href="case-files.html#mce_temp_url#">See John&rsquo;s summary here</a></p>
        <p>&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;
        </p>
        <p><big><big>The Major&rsquo;s Cat</big></big></p>
        <p>Notes to be added</p>
        <p>&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;
        </p>
    </div>
    <!--post-->
</div>