<div class="post">
    <div class="message">
        <div>
            <img src="/static/assets/profile_picture.png" width="100" alt="profile picture" />
        </div>
        <div>
            <p class="bold color-cyan">{{.Thread.Author}}</p>
            <p>{{.Thread.Message}}</p>
        </div>
    </div>
    <div class="comment">
        {{range .Replies}}
        {{template "forum-comment.html" .}}
        {{end}}
        <div class="message">
            <form class="" action="/forum/new" method="post">
                <input class="form-input" type="text" name="threadid" id="threadid" value="{{.Thread.Id}}" hidden>
                <input class="form-input" type="text" name="commentAuthor" id="commentAuthor" value=""
                    placeholder="eg. John Doe" />
                <input class="form-input" type="text" name="commentMessage" id="commentMessage" value=""
                    placeholder="Write a reply..." />
                <!-- <input type="submit" class="button-default" value="Post" /> -->
                <button type="submit" class="button-default">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-send" viewBox="0 0 16 16">
                        <path
                            d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z" />
                    </svg>
                </button>
            </form>
        </div>
    </div>

</div>