<div id="postcontainer">
    <div id="post">
        <h1>Hidden Messages</h1>
        <p>Some anonymous guy has been sending me emails. It could be nothing but I&rsquo;ll post them here
            as I get them. Could be an interesting case that you can help me with&hellip;</p>
        <p>&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;
        </p>
        <p><a href="hidden-message-3.html"><big><big>Hidden
                        Message #3</big></big></a></p>
        <p>Unsolved - I need your help</p>
        <p>&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;
        </p>
        <p><a href="hidden-message-2.html"><big><big>Hidden
                        Message #2</big></big></a></p>
        <p>Solved - Answer revealed</p>
        <p>&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;
        </p>
        <p><a href="hidden-message-1.html"><big><big>Hidden
                        Message #1</big></big></a></p>
        <p>Solved - Answer revealed</p>
        <p>&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;
        </p>
    </div>
    <!--post-->
</div>