<div id="content">
    <div id="postcontainer">
        <div id="post">
            <h1>The Science of Deduction</h1>
            <p>by Sherlock Holmes</p>
            <figure class="fig-full">
                <img src="static/assets/home_img.jpg" width="500" height="220" alt="home fig" />
            </figure>
            <p>I&rsquo;m Sherlock Holmes, the world&rsquo;s only consulting detective.</p>
            <p>I&rsquo;m not going to go into detail about how I do what I do because chances are you
                wouldn&rsquo;t understand. If you&rsquo;ve got a problem that you want me to solve, then contact
                me. Interesting cases only please.</p>
            <p>This is what I do:</p>
            <ul>
                <li>1. I observe everything.</li>
                <li>2. From what I observe, I deduce everything.</li>
                <li>3. When I&rsquo;ve eliminated the impossible, whatever remains, no matter how mad it might
                    seem, must be the truth.</li>
            </ul>
            <p>If you need assistance, contact me and we&rsquo;ll discuss its potential.</p>
            <!-- footer -->
            {{ template "post-footer.html" . }}
            <div id="divider"></div>
        </div>
        <!--post-->
    </div>
    {{ template "sidebar.html" . }}
    <br class="clear" />
</div>