<div id="notecontainer">
    <h1>Notes</h1>
    <div id="divider"></div>
    <ol class="notes">
        {{range .notes}}
        <li class="note">
            <a rel="nofollow" class="avatar_frame" target="_blank" href="{{.UserProfile}}">
                <img src="{{.Avatar}}" class="avatar" alt="" />
            </a>
            <span class="action">
                {{if ne .Comment ""}}
                <a rel="nofollow" href="{{.UserProfile}}">{{.Username}}</a>: {{.Comment}}
                {{else if .Like}}
                <a rel="nofollow" href="{{.UserProfile}}">{{.Username}}</a> liked this
                {{end}}
            </span>
            <div class="clear"></div>
        </li>
        {{end}}
    </ol>
</div>