<div id="notecontainer">
    <h1>Notes</h1>
    <div id="divider"></div>
    <ol class="notes">
        <!-- START NOTES -->
        <li class="note like tumblelog_twicexxc without_commentary"><a rel="nofollow" class="avatar_frame"
                target="_blank" href="https://twicexxc.tumblr.com/" title="Untitled "><img
                    src="https://64.media.tumblr.com/e4bbf463900548b990b2dc8a0a25c471/554a0dff2b1781dd-df/s16x16u_c1/2db788683eb27f100d50f55be5d96b8d7081964a.pnj"
                    class="avatar " alt=""></a><span class="action"><a rel="nofollow"
                    href="https://twicexxc.tumblr.com/" title="Untitled">twicexxc</a> liked this </span>
            <div class="clear"></div>
        </li>
        <li class="note like tumblelog_thehoundofsherlock without_commentary"><a rel="nofollow" class="avatar_frame"
                target="_blank" href="https://thehoundofsherlock.tumblr.com/" title="The Cat Box of Sherlock. "><img
                    src="https://64.media.tumblr.com/d360cf05b00d3830ecd8358002059533/11949ff3a8a8c14c-93/s16x16u_c1/3d477ad86b0b392bb40b50e4ac71684aa46a03bc.pnj"
                    class="avatar " alt=""></a><span class="action"><a rel="nofollow"
                    href="https://thehoundofsherlock.tumblr.com/"
                    title="The Cat Box of Sherlock.">thehoundofsherlock</a> liked this </span>
            <div class="clear"></div>
        </li>
        <li class="note like tumblelog_burntoutmushroom without_commentary"><a rel="nofollow" class="avatar_frame"
                target="_blank" href="https://burntoutmushroom.tumblr.com/" title="Untitled "><img
                    src="https://assets.tumblr.com/images/default_avatar/sphere_closed_16.png" class="avatar "
                    alt=""></a><span class="action"><a rel="nofollow" href="https://burntoutmushroom.tumblr.com/"
                    title="Untitled">burntoutmushroom</a> liked this </span>
            <div class="clear"></div>
        </li>
        <li class="note like tumblelog_fily1601 without_commentary"><a rel="nofollow" class="avatar_frame"
                target="_blank" href="https://fily1601.tumblr.com/" title="Untitled "><img
                    src="https://assets.tumblr.com/images/default_avatar/sphere_open_16.png" class="avatar "
                    alt=""></a><span class="action"><a rel="nofollow" href="https://fily1601.tumblr.com/"
                    title="Untitled">fily1601</a> liked this </span>
            <div class="clear"></div>
        </li>
        <li class="note like tumblelog_9cataleya9 without_commentary"><a rel="nofollow" class="avatar_frame"
                target="_blank" href="https://9cataleya9.tumblr.com/" title="not that girl "><img
                    src="https://64.media.tumblr.com/avatar_93ef654b90bd_16.pnj" class="avatar " alt=""></a><span
                class="action"><a rel="nofollow" href="https://9cataleya9.tumblr.com/"
                    title="not that girl">9cataleya9</a> liked this </span>
            <div class="clear"></div>
        </li>
        <li class="note like tumblelog_avenging-timeandspace without_commentary"><a rel="nofollow" class="avatar_frame"
                target="_blank" href="https://avenging-timeandspace.tumblr.com/"
                title="The Time of Games And Heros "><img src="https://64.media.tumblr.com/avatar_51caa4ac8c63_16.pnj"
                    class="avatar " alt=""></a><span class="action"><a rel="nofollow"
                    href="https://avenging-timeandspace.tumblr.com/"
                    title="The Time of Games And Heros">avenging-timeandspace</a> liked this </span>
            <div class="clear"></div>
        </li>
        <li class="note like tumblelog_theuprisen without_commentary"><a rel="nofollow" class="avatar_frame"
                target="_blank" href="https://theuprisen.tumblr.com/" title="the uprisen "><img
                    src="https://64.media.tumblr.com/0783edf8193260574806f9da5e6ba676/8431c4b2784a0e1c-a0/s16x16u_c1/2a6753a04ed37871aab91dd8820a08d83cf2e8bc.pnj"
                    class="avatar " alt=""></a><span class="action"><a rel="nofollow"
                    href="https://theuprisen.tumblr.com/" title="the uprisen">theuprisen</a> liked this </span>
            <div class="clear"></div>
        </li>
        <li class="note like tumblelog_blahblahblahblahh without_commentary"><a rel="nofollow" class="avatar_frame"
                target="_blank" href="https://blahblahblahblahh.tumblr.com/" title="Untitled "><img
                    src="https://64.media.tumblr.com/7ede2b68e0e2fd8386f40e267435c770/6d24ab4ec5b70d54-02/s16x16u_c1/282086f68540fd49b13bda1636b9834aeb0e1d35.pnj"
                    class="avatar " alt=""></a><span class="action"><a rel="nofollow"
                    href="https://blahblahblahblahh.tumblr.com/" title="Untitled">blahblahblahblahh</a> liked this
            </span>
            <div class="clear"></div>
        </li>
        <li class="note like tumblelog_eddymaus2007 without_commentary"><a rel="nofollow" class="avatar_frame"
                target="_blank" href="https://eddymaus2007.tumblr.com/" title="Unbetitelt "><img
                    src="https://assets.tumblr.com/images/default_avatar/sphere_open_16.png" class="avatar "
                    alt=""></a><span class="action"><a rel="nofollow" href="https://eddymaus2007.tumblr.com/"
                    title="Unbetitelt">eddymaus2007</a> liked this </span>
            <div class="clear"></div>
        </li>
        <li class="note like tumblelog_maja626b without_commentary"><a rel="nofollow" class="avatar_frame"
                target="_blank" href="https://maja626b.tumblr.com/" title="Maja "><img
                    src="https://64.media.tumblr.com/46a9ce6b6b5789dc1399cf2716bc9a7d/8fbc169cfa7a6368-29/s16x16u_c1/c37e385871c4ae038a1720d4173462bfc29baad1.jpg"
                    class="avatar " alt=""></a><span class="action"><a rel="nofollow"
                    href="https://maja626b.tumblr.com/" title="Maja">maja626b</a> liked this </span>
            <div class="clear"></div>
        </li>
        <li class="note like tumblelog_chaosofsmarty without_commentary"><a rel="nofollow" class="avatar_frame"
                target="_blank" href="https://chaosofsmarty.tumblr.com/" title="Bunch of Reblogs "><img
                    src="https://64.media.tumblr.com/1ac24311706501a277900f608245babe/c209af9431efb5cf-08/s16x16u_c1/1b3e823290fc0cabf20c42707e2f46ba5e88543f.jpg"
                    class="avatar " alt=""></a><span class="action"><a rel="nofollow"
                    href="https://chaosofsmarty.tumblr.com/" title="Bunch of Reblogs">chaosofsmarty</a> liked this
            </span>
            <div class="clear"></div>
        </li>
        <li class="note like tumblelog_jodysdavies without_commentary"><a rel="nofollow" class="avatar_frame"
                target="_blank" href="https://jodysdavies.tumblr.com/" title="Untitled "><img
                    src="https://assets.tumblr.com/images/default_avatar/octahedron_closed_16.png" class="avatar "
                    alt=""></a><span class="action"><a rel="nofollow" href="https://jodysdavies.tumblr.com/"
                    title="Untitled">jodysdavies</a> liked this </span>
            <div class="clear"></div>
        </li>
        <li class="note like tumblelog_221bmd without_commentary"><a rel="nofollow" class="avatar_frame" target="_blank"
                href="https://221bmd.tumblr.com/" title=" "><img
                    src="https://64.media.tumblr.com/ee9fbeb8585223b1c5d6a6c7c9fa1882/480ec5c7ab299c38-91/s16x16u_c1/02b3fed2304c11cb3bd55f7dd69b2c4bbd611c3a.pnj"
                    class="avatar " alt=""></a><span class="action"><a rel="nofollow" href="https://221bmd.tumblr.com/"
                    title="">221bmd</a> liked this </span>
            <div class="clear"></div>
        </li>
        <li class="note like tumblelog_chryolphyll without_commentary"><a rel="nofollow" class="avatar_frame"
                target="_blank" href="https://chryolphyll.tumblr.com/" title="Hello :D "><img
                    src="https://64.media.tumblr.com/b17b68285828fb73898f219783ed2ce9/a431b220cb5616da-87/s16x16u_c1/00a157dd65906d52d0779c1ade73994d21825b86.jpg"
                    class="avatar " alt=""></a><span class="action"><a rel="nofollow"
                    href="https://chryolphyll.tumblr.com/" title="Hello :D">chryolphyll</a> liked this </span>
            <div class="clear"></div>
        </li>
        <li class="note like tumblelog_1ilnevv without_commentary"><a rel="nofollow" class="avatar_frame"
                target="_blank" href="https://1ilnevv.tumblr.com/" title=" "><img
                    src="https://assets.tumblr.com/images/default_avatar/cone_closed_16.png" class="avatar "
                    alt=""></a><span class="action"><a rel="nofollow" href="https://1ilnevv.tumblr.com/"
                    title="">1ilnevv</a> liked this </span>
            <div class="clear"></div>
        </li>
        <li class="note like tumblelog_vascavilllll without_commentary"><a rel="nofollow" class="avatar_frame"
                target="_blank" href="https://vascavilllll.tumblr.com/" title="제목 없음 "><img
                    src="https://assets.tumblr.com/images/default_avatar/cube_closed_16.png" class="avatar "
                    alt=""></a><span class="action"><a rel="nofollow" href="https://vascavilllll.tumblr.com/"
                    title="제목 없음">vascavilllll</a> liked this </span>
            <div class="clear"></div>
        </li>
        <li class="note like tumblelog_m3shgg without_commentary"><a rel="nofollow" class="avatar_frame" target="_blank"
                href="https://m3shgg.tumblr.com/" title="Untitled "><img
                    src="https://assets.tumblr.com/images/default_avatar/pyramid_open_16.png" class="avatar "
                    alt=""></a><span class="action"><a rel="nofollow" href="https://m3shgg.tumblr.com/"
                    title="Untitled">m3shgg</a> liked this </span>
            <div class="clear"></div>
        </li>
        <li class="note like tumblelog_l9vw without_commentary"><a rel="nofollow" class="avatar_frame" target="_blank"
                href="https://l9vw.tumblr.com/" title="悪夢 ➫々𝑾𝒊𝒍𝒍𝒊𝒂𝒎 "><img
                    src="https://64.media.tumblr.com/c1e9a758dde9e6db3eaad329be553095/f39fe2c0b060bcd8-11/s16x16u_c1/1fa64c1354bc6d18bf01dc66f63f32c777f3c559.pnj"
                    class="avatar " alt=""></a><span class="action"><a rel="nofollow" href="https://l9vw.tumblr.com/"
                    title="悪夢 ➫々𝑾𝒊𝒍𝒍𝒊𝒂𝒎">l9vw</a> liked this </span>
            <div class="clear"></div>
        </li>
        <li class="note like tumblelog_originalnachowombat without_commentary"><a rel="nofollow" class="avatar_frame"
                target="_blank" href="https://originalnachowombat.tumblr.com/" title="Untitled "><img
                    src="https://assets.tumblr.com/images/default_avatar/cube_closed_16.png" class="avatar "
                    alt=""></a><span class="action"><a rel="nofollow" href="https://originalnachowombat.tumblr.com/"
                    title="Untitled">originalnachowombat</a> liked this </span>
            <div class="clear"></div>
        </li>
        <li class="note like tumblelog_mysticmaimai without_commentary"><a rel="nofollow" class="avatar_frame"
                target="_blank" href="https://mysticmaimai.tumblr.com/" title="mysticmaimai "><img
                    src="https://64.media.tumblr.com/c2d702d1f60335f9284db94ae61a9c0c/08a95542907941e7-3c/s16x16u_c1/e2d6f74f7dce7f20536321a5f30f7743d2980fa0.pnj"
                    class="avatar " alt=""></a><span class="action"><a rel="nofollow"
                    href="https://mysticmaimai.tumblr.com/" title="mysticmaimai">mysticmaimai</a> liked this </span>
            <div class="clear"></div>
        </li>
        <li class="note like tumblelog_queerautisticspin without_commentary"><a rel="nofollow" class="avatar_frame"
                target="_blank" href="https://queerautisticspin.tumblr.com/" title="Untitled "><img
                    src="https://assets.tumblr.com/images/default_avatar/pyramid_open_16.png" class="avatar "
                    alt=""></a><span class="action"><a rel="nofollow" href="https://queerautisticspin.tumblr.com/"
                    title="Untitled">queerautisticspin</a> liked this </span>
            <div class="clear"></div>
        </li>
        <li class="note like tumblelog_boy--wonder--187 without_commentary"><a rel="nofollow" class="avatar_frame"
                target="_blank" href="https://boy--wonder--187.tumblr.com/"
                title="&quot;Bullying leaves lasting scars&quot; "><img
                    src="https://64.media.tumblr.com/82059391d6236e1720dc991cecf48f67/1540307e69cc04db-36/s16x16u_c1/f0d15818caa340e5cbba645dd7b4ad63f9acdc4a.pnj"
                    class="avatar " alt=""></a><span class="action"><a rel="nofollow"
                    href="https://boy--wonder--187.tumblr.com/"
                    title="&quot;Bullying leaves lasting scars&quot;">boy--wonder--187</a> liked this </span>
            <div class="clear"></div>
        </li>
        <li class="note like tumblelog_ackermanny without_commentary"><a rel="nofollow" class="avatar_frame"
                target="_blank" href="https://ackermanny.tumblr.com/" title="&quot; scarlet; ! "><img
                    src="https://64.media.tumblr.com/958d4061bef48d6ad606140c67dc6b7e/fc395ec36406506e-a2/s16x16u_c1/b22e6548af285a22370a281705236c20e5a227ba.jpg"
                    class="avatar " alt=""></a><span class="action"><a rel="nofollow"
                    href="https://ackermanny.tumblr.com/" title="&quot; scarlet; !">ackermanny</a> liked this </span>
            <div class="clear"></div>
        </li>
        <li class="note like tumblelog_johnlockandggad without_commentary"><a rel="nofollow" class="avatar_frame"
                target="_blank" href="https://johnlockandggad.tumblr.com/" title="無標題 "><img
                    src="https://assets.tumblr.com/images/default_avatar/sphere_open_16.png" class="avatar "
                    alt=""></a><span class="action"><a rel="nofollow" href="https://johnlockandggad.tumblr.com/"
                    title="無標題">johnlockandggad</a> liked this </span>
            <div class="clear"></div>
        </li>
        <li class="note like tumblelog_a-c-em without_commentary"><a rel="nofollow" class="avatar_frame" target="_blank"
                href="https://a-c-em.tumblr.com/" title="Vatican Cameos "><img
                    src="https://assets.tumblr.com/images/default_avatar/cone_open_16.png" class="avatar "
                    alt=""></a><span class="action"><a rel="nofollow" href="https://a-c-em.tumblr.com/"
                    title="Vatican Cameos">a-c-em</a> liked this </span>
            <div class="clear"></div>
        </li>
        <li class="note like tumblelog_kilabi without_commentary"><a rel="nofollow" class="avatar_frame" target="_blank"
                href="https://kilabi.tumblr.com/" title="Untitled "><img
                    src="https://assets.tumblr.com/images/default_avatar/pyramid_open_16.png" class="avatar "
                    alt=""></a><span class="action"><a rel="nofollow" href="https://kilabi.tumblr.com/"
                    title="Untitled">kilabi</a> liked this </span>
            <div class="clear"></div>
        </li>
        <li class="note like tumblelog_rimz101 without_commentary"><a rel="nofollow" class="avatar_frame"
                target="_blank" href="https://rimz101.tumblr.com/" title="Untitled "><img
                    src="https://assets.tumblr.com/images/default_avatar/cone_closed_16.png" class="avatar "
                    alt=""></a><span class="action"><a rel="nofollow" href="https://rimz101.tumblr.com/"
                    title="Untitled">rimz101</a> liked this </span>
            <div class="clear"></div>
        </li>
        <li class="note like tumblelog_kidthatwantstofly without_commentary"><a rel="nofollow" class="avatar_frame"
                target="_blank" href="https://kidthatwantstofly.tumblr.com/" title="Untitled "><img
                    src="https://64.media.tumblr.com/90799cfc6e31818e06af24e18c73311f/6cba31b5ae203b9f-09/s16x16u_c1/e27c8ef48bbb00cbf147eda59cbdc70e3fa39b89.pnj"
                    class="avatar " alt=""></a><span class="action"><a rel="nofollow"
                    href="https://kidthatwantstofly.tumblr.com/" title="Untitled">kidthatwantstofly</a> liked this
            </span>
            <div class="clear"></div>
        </li>
        <li class="note like tumblelog_mvuniverse without_commentary"><a rel="nofollow" class="avatar_frame"
                target="_blank" href="https://mvuniverse.tumblr.com/" title=" "><img
                    src="https://64.media.tumblr.com/60460576ff603bf0b21ba3e1dfa0f588/add9990c9040f6bf-e1/s16x16u_c1/714608be52af6e81aac3096b041a8da89cff0658.jpg"
                    class="avatar " alt=""></a><span class="action"><a rel="nofollow"
                    href="https://mvuniverse.tumblr.com/" title="">mvuniverse</a> liked this </span>
            <div class="clear"></div>
        </li>
        <li class="note like tumblelog_lyopinkmoss without_commentary"><a rel="nofollow" class="avatar_frame"
                target="_blank" href="https://lyopinkmoss.tumblr.com/" title="🌸 pink moss 🌸 "><img
                    src="https://64.media.tumblr.com/de2de1ee86c623c93b1349bed4fcf5d4/53b47c814fa0a3dc-c1/s16x16u_c1/c67fe1b6329a0405d2938f89df922ac2b5c03d13.pnj"
                    class="avatar " alt=""></a><span class="action"><a rel="nofollow"
                    href="https://lyopinkmoss.tumblr.com/" title="🌸 pink moss 🌸">lyopinkmoss</a> liked this </span>
            <div class="clear"></div>
        </li>
        <li class="note like tumblelog_eurovsworld without_commentary"><a rel="nofollow" class="avatar_frame"
                target="_blank" href="https://eurovsworld.tumblr.com/" title="Untitled "><img
                    src="https://assets.tumblr.com/images/default_avatar/pyramid_open_16.png" class="avatar "
                    alt=""></a><span class="action"><a rel="nofollow" href="https://eurovsworld.tumblr.com/"
                    title="Untitled">eurovsworld</a> liked this </span>
            <div class="clear"></div>
        </li>
        <li class="note like tumblelog_anonymousssssstuff without_commentary"><a rel="nofollow" class="avatar_frame"
                target="_blank" href="https://anonymousssssstuff.tumblr.com/" title="Untitled "><img
                    src="https://assets.tumblr.com/images/default_avatar/sphere_open_16.png" class="avatar "
                    alt=""></a><span class="action"><a rel="nofollow" href="https://anonymousssssstuff.tumblr.com/"
                    title="Untitled">anonymousssssstuff</a> liked this </span>
            <div class="clear"></div>
        </li>
        <li class="note like tumblelog_remy2002 without_commentary"><a rel="nofollow" class="avatar_frame"
                target="_blank" href="https://remy2002.tumblr.com/" title="Fanfiction SIMP "><img
                    src="https://64.media.tumblr.com/9cd0d0ef6976911033ea48e266a5e8dd/b7c60a18e3d10942-5e/s16x16u_c1/c3efb8abcabc10694e4cc3e8cbc2152cc0c3d122.jpg"
                    class="avatar " alt=""></a><span class="action"><a rel="nofollow"
                    href="https://remy2002.tumblr.com/" title="Fanfiction SIMP">remy2002</a> liked this </span>
            <div class="clear"></div>
        </li>
        <li class="note like tumblelog_ukrainianfanfictiongirl without_commentary"><a rel="nofollow"
                class="avatar_frame" target="_blank" href="https://ukrainianfanfictiongirl.tumblr.com/"
                title="Untitled "><img
                    src="https://64.media.tumblr.com/affcda4f37697656b95037306c2f2f87/cb38dc7621272951-50/s16x16u_c1/3255d0d0b36eb827efdec775133a7f41000083ad.jpg"
                    class="avatar " alt=""></a><span class="action"><a rel="nofollow"
                    href="https://ukrainianfanfictiongirl.tumblr.com/" title="Untitled">ukrainianfanfictiongirl</a>
                liked this </span>
            <div class="clear"></div>
        </li>
        <li class="note like tumblelog_jellybeansemloh without_commentary"><a rel="nofollow" class="avatar_frame"
                target="_blank" href="https://jellybeansemloh.tumblr.com/" title="Untitled "><img
                    src="https://assets.tumblr.com/images/default_avatar/cone_open_16.png" class="avatar "
                    alt=""></a><span class="action"><a rel="nofollow" href="https://jellybeansemloh.tumblr.com/"
                    title="Untitled">jellybeansemloh</a> liked this </span>
            <div class="clear"></div>
        </li>
        <li class="note like tumblelog_sherlockedb1tch without_commentary"><a rel="nofollow" class="avatar_frame"
                target="_blank" href="https://sherlockedb1tch.tumblr.com/" title="Untitled "><img
                    src="https://assets.tumblr.com/images/default_avatar/pyramid_open_16.png" class="avatar "
                    alt=""></a><span class="action"><a rel="nofollow" href="https://sherlockedb1tch.tumblr.com/"
                    title="Untitled">sherlockedb1tch</a> liked this </span>
            <div class="clear"></div>
        </li>
        <li class="note like tumblelog_mymindisanutterchaos without_commentary"><a rel="nofollow" class="avatar_frame"
                target="_blank" href="https://mymindisanutterchaos.tumblr.com/" title="Annabel Lee "><img
                    src="https://64.media.tumblr.com/0dd48bbff109c1a7b3bcbddc0d384aab/a7f8fc22a255dc6e-e4/s16x16u_c1/6f8a2d822a1bd31a7c82fb885120301d5fe12518.jpg"
                    class="avatar " alt=""></a><span class="action"><a rel="nofollow"
                    href="https://mymindisanutterchaos.tumblr.com/" title="Annabel Lee">mymindisanutterchaos</a> liked
                this </span>
            <div class="clear"></div>
        </li>
        <li class="note like tumblelog_hammel0hr without_commentary"><a rel="nofollow" class="avatar_frame"
                target="_blank" href="https://hammel0hr.tumblr.com/" title="Hammel0hr "><img
                    src="https://64.media.tumblr.com/dc8d6b54dc6c8d323b74f1d9f85cf941/b36d3ccd6c18e3db-45/s16x16u_c1/3109ad2316fb205abf8f0e3d447caf802d61b273.jpg"
                    class="avatar " alt=""></a><span class="action"><a rel="nofollow"
                    href="https://hammel0hr.tumblr.com/" title="Hammel0hr">hammel0hr</a> liked this </span>
            <div class="clear"></div>
        </li>
        <li class="note like tumblelog_sleepyyryy without_commentary"><a rel="nofollow" class="avatar_frame"
                target="_blank" href="https://sleepyyryy.tumblr.com/" title="Ry "><img
                    src="https://64.media.tumblr.com/9d226f567c09f6ae2433c64c31b77997/6b4cba8bc67fe174-8a/s16x16u_c1/6dac5200727114fdab7e11dd268981a334f5da08.pnj"
                    class="avatar " alt=""></a><span class="action"><a rel="nofollow"
                    href="https://sleepyyryy.tumblr.com/" title="Ry">sleepyyryy</a> liked this </span>
            <div class="clear"></div>
        </li>
        <li class="note reply tumblelog_ghostghaff without_commentary"><a rel="nofollow" class="avatar_frame"
                target="_blank" href="https://ghostghaff.tumblr.com/" title="Alexis_Holmes_656"><img
                    src="https://64.media.tumblr.com/07a4918d46e0c48298b30aa87945d3e0/fdcf563fcff52ec2-97/s16x16u_c1/71e8dc877de2b5ce30e8dbaff1eab6915b965ca7.pnj"
                    class="avatar " alt=""></a><span class="action"><a rel="nofollow"
                    href="https://ghostghaff.tumblr.com/" title="Alexis_Holmes_656">ghostghaff</a> said:
                <span class="answer_content">
                    hello there dear brother- </span></span>
            <div class="clear"></div>
        </li>
        <li class="note reblog tumblelog_bbwun without_commentary"><a rel="nofollow" class="avatar_frame"
                target="_blank" href="https://bbwun.tumblr.com/" title="Untitled"><img
                    src="https://assets.tumblr.com/images/default_avatar/sphere_open_16.png" class="avatar "
                    alt=""></a><span class="action" data-post-url="https://bbwun.tumblr.com/post/678033820151382016"><a
                    rel="nofollow" href="https://bbwun.tumblr.com/post/678033820151382016" class="tumblelog"
                    title="Untitled">bbwun</a> reblogged this from <a rel="nofollow"
                    href="https://thescienceofdeduction-co-uk.tumblr.com/" class="source_tumblelog"
                    title="The Science of Deduction">thescienceofdeduction-co-uk</a> </span>
            <div class="clear"></div>
        </li>
        <li class="note like tumblelog_lemonade-luhv without_commentary"><a rel="nofollow" class="avatar_frame"
                target="_blank" href="https://lemonade-luhv.tumblr.com/" title="_pxnda_ "><img
                    src="https://64.media.tumblr.com/899c69a02745cd62ed333c60f0bbbb23/fb089c9cd3d9a8ac-90/s16x16u_c1/c834ed6ccba4b86341a3436783f6847450abedaa.pnj"
                    class="avatar " alt=""></a><span class="action"><a rel="nofollow"
                    href="https://lemonade-luhv.tumblr.com/" title="_pxnda_">lemonade-luhv</a> liked this </span>
            <div class="clear"></div>
        </li>
        <li class="note like tumblelog_lily-romanoff without_commentary"><a rel="nofollow" class="avatar_frame"
                target="_blank" href="https://lily-romanoff.tumblr.com/" title="Lily Romanoff "><img
                    src="https://64.media.tumblr.com/516d21cab042ad84868bca4932fcf35b/d6e0cf9acaa71a36-b3/s16x16u_c1/d85fc8dacc1d4c3e03d9d3c2a7859be4b4940e94.pnj"
                    class="avatar " alt=""></a><span class="action"><a rel="nofollow"
                    href="https://lily-romanoff.tumblr.com/" title="Lily Romanoff">lily-romanoff</a> liked this </span>
            <div class="clear"></div>
        </li>
        <li class="note like tumblelog_eztro272 without_commentary"><a rel="nofollow" class="avatar_frame"
                target="_blank" href="https://eztro272.tumblr.com/" title="Thoughts and deductions "><img
                    src="https://64.media.tumblr.com/99cbeec63f3b7a939fd06643b107dd68/27b41d080bcd02ef-40/s16x16u_c1/a03f06896a2a2805b95e0664b7a6d65c8a92907d.pnj"
                    class="avatar " alt=""></a><span class="action"><a rel="nofollow"
                    href="https://eztro272.tumblr.com/" title="Thoughts and deductions">eztro272</a> liked this </span>
            <div class="clear"></div>
        </li>
        <li class="note like tumblelog_tung11 without_commentary"><a rel="nofollow" class="avatar_frame" target="_blank"
                href="https://tung11.tumblr.com/" title="無標題 "><img
                    src="https://assets.tumblr.com/images/default_avatar/pyramid_closed_16.png" class="avatar "
                    alt=""></a><span class="action"><a rel="nofollow" href="https://tung11.tumblr.com/"
                    title="無標題">tung11</a> liked this </span>
            <div class="clear"></div>
        </li>
        <li class="note like tumblelog_welcometomyharddrive without_commentary"><a rel="nofollow" class="avatar_frame"
                target="_blank" href="https://welcometomyharddrive.tumblr.com/" title="Welcome To My Hard Drive "><img
                    src="https://64.media.tumblr.com/avatar_69d69cc71546_16.pnj" class="avatar " alt=""></a><span
                class="action"><a rel="nofollow" href="https://welcometomyharddrive.tumblr.com/"
                    title="Welcome To My Hard Drive">welcometomyharddrive</a> liked this </span>
            <div class="clear"></div>
        </li>
        <li class="note like tumblelog_whodwantmeasaflatmate without_commentary"><a rel="nofollow" class="avatar_frame"
                target="_blank" href="https://whodwantmeasaflatmate.tumblr.com/"
                title="It's All Fine and Tickety-Boo "><img src="https://64.media.tumblr.com/avatar_c1ba14733808_16.pnj"
                    class="avatar " alt=""></a><span class="action"><a rel="nofollow"
                    href="https://whodwantmeasaflatmate.tumblr.com/"
                    title="It's All Fine and Tickety-Boo">whodwantmeasaflatmate</a> liked this </span>
            <div class="clear"></div>
        </li>
        <li class="note like tumblelog_brightbluebeautiful without_commentary"><a rel="nofollow" class="avatar_frame"
                target="_blank" href="https://brightbluebeautiful.tumblr.com/"
                title="look, wherever you are, I'll come to you "><img
                    src="https://64.media.tumblr.com/41449d49845c78cb841a99191f980c7f/9172e4afeb3de5b1-78/s16x16u_c1/0b503e1de9cf57e2432fa6071d71ea93fdce9a37.jpg"
                    class="avatar " alt=""></a><span class="action"><a rel="nofollow"
                    href="https://brightbluebeautiful.tumblr.com/"
                    title="look, wherever you are, I'll come to you">brightbluebeautiful</a> liked this </span>
            <div class="clear"></div>
        </li>
        <li class="note like tumblelog_0akemi000 without_commentary"><a rel="nofollow" class="avatar_frame"
                target="_blank" href="https://0akemi000.tumblr.com/" title="Hello  "><img
                    src="https://64.media.tumblr.com/52749be98107bce7090cc9b057f92b8d/340306e015b07be7-67/s16x16u_c1/93a8952bcf064cc63aab5e0829108c35600a37db.jpg"
                    class="avatar " alt=""></a><span class="action"><a rel="nofollow"
                    href="https://0akemi000.tumblr.com/" title="Hello ">0akemi000</a> liked this </span>
            <div class="clear"></div>
        </li>
        <li class="note reblog tumblelog_thescienceofdeduction-co-uk original_post without_commentary"><a rel="nofollow"
                class="avatar_frame" target="_blank" href="https://thescienceofdeduction-co-uk.tumblr.com/"
                title="The Science of Deduction"><img src="https://64.media.tumblr.com/avatar_9a2f319109c3_16.pnj"
                    class="avatar " alt=""></a><span class="action"
                data-post-url="https://thescienceofdeduction-co-uk.tumblr.com/post/184767470593"><a rel="nofollow"
                    href="https://thescienceofdeduction-co-uk.tumblr.com/" class="tumblelog"
                    title="The Science of Deduction">thescienceofdeduction-co-uk</a> posted this </span>
            <div class="clear"></div>
        </li><!-- END NOTES -->
    </ol>
</div>